# Common temporary files
*.tmp
*~
~$*
temp.*

# Editors temp files
.*.swp
.*.swo

# Logs, histories, etc.
*.log
dotfiles/config/wireshark/recent
dotfiles/config/wireshark/recent_common

# Other staff
applications/com.googlecode.iterm2.plist

*.pyc

